/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.CLAUDE.local.md
.rspec_status
**/.claude/settings.local.json

**/CLAUDE.local.md
.roast/

bin/_guard-core
bin/bundle
bin/coderay
bin/dotenv
bin/erb
bin/guard
bin/htmldiff
bin/irb
bin/ldiff
bin/listen
bin/pry
bin/racc
bin/rake
bin/rbs
bin/rdbg
bin/rdoc
bin/ri
bin/rubocop
bin/ruby-lsp
bin/ruby-lsp-check
bin/ruby-lsp-launcher
bin/ruby-lsp-test-exec
bin/ruby-parse
bin/ruby-rewrite
bin/thor

gemfiles/*.lock
