.DS_Store

/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.CLAUDE.local.md
.rspec_status
**/.claude/settings.local.json

**/CLAUDE.local.md
.roast/

gemfiles/*.lock
bin/claude-swarm
*.gem
coverage

.dev
dev.yml
.shadowenv
